.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;

}
.top-box{
    height: 15%;
    width: 100%;
    background-color: darkgray;
}

.innermost-box{
    height: 75%;
    width: 60%;
    background-color: white;
    margin: 0 auto;
}

.footer{
    height: 10%;
    width: 60%;
    background-color: black;
    margin: 0 auto;
}